/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2016, 9:23:56 PM
    Author     : wendellvalois
*/
body{
    background-color: navajowhite;
    margin: 0;
}

header{
    background-color: navajowhite;
    padding: 10px ;
}
header img,h1{
    display:inline-block;
    vertical-align: middle;
}
section{ 


    padding: 40px;
    background-color: beige;
    margin-left:25%;
    height: 440px;
    
}

fieldset{
   display: inline;
}


nav  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e15a1f;
}

nav  li {
    float: left;
}

nav  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav  li a:hover {
    background-color: #111;
}

#nav-left  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}

#nav-left li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#nav-left  li a.active {
    background-color: #4CAF50;
    color: white;
}

#nav-left  li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#nav-left ol{
    list-style-type: none;
}


.login{
    float: right;  
    background-color: moccasin;
    border: solid darkgray 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    padding: 5px;
    
}
